.container1 {
  height: 100dvh;
  width: 100%;
  background-image: url("../../../../assets/images/bg-list.jpg"); /* Substitua com o caminho correto para sua imagem */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
